$font-size: 16px;
$font-size--large: 18px;
$font-size--x-large: 45px;
$font-size--xx-large: 55px;

$line-height--small: 18px;
$line-height: 24px;
$line-height--large: 45px;
$line-height--x-large: 55px;

$color-main: #283136;

$red: #fb565a;
$red--dark: #e74246;
$red--darken: #d7373b;

$gray--lighten: #eeeeee;
$gray--light: #dfdfdf;
$gray: #d5d5d5;
$gray--dark: #666666;
$gray--darken: #4d4d4d;

$font-family: Roboto, Arial, sans-serif;
