section.info
  .info__wrapper
    .info__inner
      .info__about-us
        h2.info__title
          | Мы — маленькая, но гордая дизайн-студия из Краснодара.
        p.info__desc
          | Исповедуем принципы минимализма и чистоты. Ставим математический
          | расчет превыше креатива. Работаем не покладая рук, как роботы.
        .info__work
          h3.info__work-title
            | Выполняем заказы на разработку:
          ul.info__work-items
            li.info__work-item
              | Веб-сайтов любой сложности
            li.info__work-item
              | Мобильных приложений для iOS и Android
            li.info__work-item
              | Слайдшоу и видео для корпоративных презентаций
      .info__features
        .info__logo
          img(src='img/logo-2.png' width='360' height='208' alt='Логотип')
        span.info__features-desc
          | С 2004 года любим точность во всем:
        .info__features-items
          .info__features-item
            span.info__features-item-number
              | 146
              sup
                | %
            span.info__features-item-desc
              | Уровень самоотдачи
          .info__features-item
            span.info__features-item-number
              | 100
              sup
                | %
            span.info__features-item-desc
              | Соблюдение сроков
          .info__features-item
            span.info__features-item-number
              | 50
              sup
                | %
            span.info__features-item-desc
              | Минимальная предоплата
