doctype html
html(lang='ru')
  include ../layouts/head.pug

  body.index
    header.page-header
      .page-header__wrapper
        a.page-header__logo
          img(src='img/logo.png' width='160' height='65' alt='Логотип')
        nav.page-header__main-nav.main-nav
          ul.main-nav__items.main-nav__items--main
            li.main-nav__item
              a.main-nav__link(href='#')
                | Студия
            li.main-nav__item
              a.main-nav__link(href='#')
                | Клиенты
            li.main-nav__item
              a.main-nav__link(href='catalog.html')
                | Магазин
            li.main-nav__item
              a.main-nav__link(href='#')
                | Контакты
          ul.main-nav__items.main-nav__items--user
            li.main-nav__item
              a.main-nav__link.main-nav__link--cart(href='#')
                | Корзина
    main
      include ../blocks/promo.pug
      include ../blocks/services.pug
      include ../blocks/info.pug
      include ../blocks/examples.pug
      include ../blocks/contacts.pug
    include ../layouts/footer.pug
    script(src='js/concatenated.min.js')
