footer.page-footer
  .page-footer__wrapper
    ul.page-footer__social-links.social-links
      li
        a.social-links__link(href='#', target='_blank')
          | Мы в Вконтакте
      li
        a.social-links__link(href='#', target='_blank')
          | Мы в Фейсбуке
      li
        a.social-links__link(href='#', target='_blank')
          |  Мы в Инстаграмме
    .page-footer__discount
      h2.page-footer__discount-title
        | Давайте дружить, это выгодно!
      p.page-footer__discount-desc
        | Скидка 10% для друзей из социальных сетей.
