.catalog__header {
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 65px;

  background-color: $gray--lighten;
}

.catalog__header-wrap {
  @include container;
}

.catalog__title {
  font-weight: 500;
  font-size: $font-size--xx-large;
  line-height: $line-height--x-large;
  text-align: center;
}

.catalog__wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
}

.catalog__filters {
  width: 260px;
}

.catalog__filters-group {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  border: none;
}

.catalog__filters-title {
  margin-bottom: 5px;
  padding-top: 18px;

  font-weight: bold;
  font-size: $font-size--large;
  text-transform: uppercase;
}

.catalog__legend {
  margin: 18px 0;

  font-size: $font-size--large;
  text-transform: uppercase;
}

.catalog__filters-cost {
  margin-top: 50px;
  margin-bottom: 25px;
}

.catalog__filters-btn {
  margin-top: 15px;
}

.radiobox__input,
.checkbox__input {
  position: absolute;

  opacity: 0;

  &:focus ~ .radiobox__label,
  &:focus ~ .checkbox__label {
    color: black;

    &::before,
    &::after {
      opacity: 1;
    }
  }

  &:disabled {
    & ~ .radiobox__label,
    & ~ .checkbox__label {
      color: black;

      cursor: default;
      opacity: 0.3;

      &::before {
        border-color: $gray--darken;
        opacity: 0.3;
      }

      &::after {
        opacity: 0.3;
      }
    }
  }

  &:checked ~ .catalog__filters-selection {
    &::after {
      display: block;
    }
  }
}

.checkbox__input {
  &:checked ~ .catalog__filters-selection {
    &::before {
      border-color: transparent;
    }
  }
}

.radiobox__label,
.checkbox__label {
  position: relative;

  display: flex;
  align-items: center;
  margin: 15px 0;

  color: $color-main;

  cursor: pointer;

  &::before,
  &::after {
    opacity: 0.4;
  }

  &::before {
    content: '';

    display: block;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 10px;

    border-style: solid;
    border-color: $gray--darken;
  }

  &::after {
    content: '';
    position: absolute;

    display: none;
  }

  &:hover {
    color: black;

    &::before,
    &::after {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.radiobox__label {
  &::before {
    border-width: 3px;
    border-radius: 50%;
  }

  &::after {
    top: 8px;
    left: 8px;

    width: 8px;
    height: 8px;

    background-color: $gray--darken;
    border-radius: 50%;
  }

  &:hover {
    &::after {
      background-color: $gray--darken;
    }
  }
}

.checkbox__label {
  margin: 18px 0;

  &::before {
    width: 23px;
    height: 22px;

    border-width: 2px;
    border-radius: 4px;
  }

  &::after {
    top: 0;
    left: 0;

    width: 27px;
    height: 23px;

    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -10px -45px;
  }
}

.catalog__col-right {
  width: 760px;
  margin-bottom: 45px;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.catalog__sort-items {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__sort-item {
  display: flex;
  align-items: center;
  margin: 0 8px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    .catalog__sort-btn {
      cursor: auto;
      opacity: 1;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}

.catalog__sort-btn {
  font-size: 14px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &--arrow {
    width: 0;
    height: 0;
    padding: 0;

    font-size: 0;

    border-width: 9px 4.5px 0 4.5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  &--up {
    transform: rotate(180deg);
  }
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  position: relative;

  margin-right: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  overflow: hidden;

  text-align: center;

  background-color: $gray--lighten;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &:hover {
    background-color: $gray--darken;
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);

    .catalog__item-content {
      bottom: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 15px;

    width: 15px;
    height: 15px;

    background-color: white;
    border-radius: 50%;
    box-shadow: 25px 0 white, 50px 0 white;
  }

  &:nth-child(even) {
    margin-right: 0;
  }
}

.catalog__item-img-wrapper {
  img {
    display: block;
    box-sizing: border-box;
    width: 360px;
    height: 567px;

    background-color: $gray--light;
  }
}

.catalog__item-content {
  position: absolute;
  left: 0;
  z-index: 1;

  box-sizing: border-box;
  width: 360px;
  min-height: 230px;
  padding: 15px 60px;

  background-color: $gray--lighten;
}

.catalog__item-title {
  margin: 18px 0;

  font-size: $font-size--large;
  text-transform: uppercase;

  a {
    color: black;
    text-decoration: none;
  }
}

.catalog__item-desc {
  color: $gray--dark;
}

.catalog__buy-btn {
  width: 200px;
  margin-top: 15px;
}

.catalog__nav {
  display: flex;
  margin: 15px 0;
}

.catalog__nav-items {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__nav-item {
  &--active {
    .catalog__nav-btn {
      background-color: white;
      border: 3px solid $gray--light;
      box-shadow: none;
      cursor: auto;

      &:active {
        color: black;
      }
    }
  }
}

.catalog__nav-btn {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding: 0;
}
