.catalog__header {
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 65px;

  background-color: $gray--lighten;
}

.catalog__header-wrap {
  @include container;
}

.catalog__title {
  font-weight: 500;
  font-size: $font-size--xx-large;
  line-height: $line-height--x-large;
  text-align: center;
}

.catalog__wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
}

.catalog__filters-form {
  width: 260px;
}

.catalog__legend {
  margin: 18px 0;

  font-size: $font-size--large;
  text-transform: uppercase;
}

.catalog__col-right {
  width: 760px;
  margin-bottom: 45px;
}

.catalog__sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.sorting-menu,
.order-menu {
  @include list-reset;
}

.sorting-menu__item,
.order-menu__item {
  display: flex;
  align-items: center;
  margin: 0 8px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    .sorting-menu__btn,
    .order-menu__btn {
      cursor: auto;
      opacity: 1;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}

.sorting-menu__btn,
.order-menu__btn {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  user-select: none;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.order-menu__btn {
  width: 0;
  height: 0;
  padding: 0;

  font-size: 0;

  border-width: 9px 4.5px 0 4.5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

  &--up {
    transform: rotate(180deg);
  }
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  position: relative;

  margin-right: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  overflow: hidden;

  text-align: center;

  background-color: $gray--lighten;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &:hover {
    background-color: $gray--darken;
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);

    .catalog__item-content {
      bottom: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 15px;

    width: 15px;
    height: 15px;

    background-color: white;
    border-radius: 50%;
    box-shadow: 25px 0 white, 50px 0 white;
  }

  &:nth-child(even) {
    margin-right: 0;
  }
}

.catalog__item-img-wrapper {
  img {
    display: block;
    box-sizing: border-box;
    width: 360px;
    height: 567px;

    background-color: $gray--light;
  }
}

.catalog__item-content {
  position: absolute;
  left: 0;
  z-index: 1;

  box-sizing: border-box;
  width: 360px;
  min-height: 230px;
  padding: 15px 60px;

  background-color: $gray--lighten;
}

.catalog__item-title {
  margin: 18px 0;

  font-size: $font-size--large;
  text-transform: uppercase;

  a {
    color: black;
    text-decoration: none;
  }
}

.catalog__item-desc {
  color: $gray--dark;
}

.catalog__buy-btn {
  width: 200px;
  margin-top: 15px;
}

.catalog__nav {
  margin: 15px 0;
}
