extend ./layouts/base.pug

block content
  section.promo
    .promo__wrapper
      .slider
        .slider__inner
          .slider__item.promo__item
            h2.promo__title
              | Долго, дорого, скрупулезно.
            p.promo__desc
              | Математически выверенный дизайн для вашего сайта или мобильного приложения.
            a.promo__btn.btn(href='#')
              | Узнать больше
          .slider__item.promo__item
            h2.promo__title
              | Любим математику как никто другой
            p.promo__desc
              | Никакого креатива, только математические формулы для расчета идеальных пропорций.
            a.promo__btn.btn(href='#')
              | Узнать больше
          .slider__item.promo__item
            h2.promo__title
              | Только ночь, только хардкор
            p.promo__desc
              | Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается.
            a.promo__btn.btn(href='#')
              | Узнать больше
        .slider__controls
          button.slider__control(type='button')
            span
              | 1
          button.slider__control(type='button')
            span
              | 2
          button.slider__control(type='button')
            span
              | 3
  section.services
    .services__wrapper
      .services__items
        .services__item
          .services__img-wrap
            img(src='img/services-1.png', width='300', height='146', alt='Веб-сайты')
          h2.services__title
            | Веб-сайты
          p.services__desc
            | Мир никогда не будет прежним после того как увидит ваш сайт!
          a.services__btn.btn(href='#')
            | Заказать
        .services__item
          .services__img-wrap
            img(src='img/services-2.png', width='300', height='146', alt='Приложения')
          h2.services__title
            | Приложения
          p.services__desc
            | Покорите топ-10 приложений в AppStore и Google Play
          a.services__btn.btn(href='#')
            | Заказать
        .services__item
          .services__img-wrap
            img(src='img/services-3.png', width='300', height='146', alt='Презентации')
          h2.services__title
            | Презентации
          p.services__desc
            | Вы даже не подозреваете, насколько вы изумительны!
          a.services__btn.btn(href='#')
            | Заказать
  section.info
    .info__wrapper
      .info__about-us
        h2.info__title
          | Мы — маленькая, но гордая дизайн-студия из Краснодара.
        p.info__desc
          | Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.
        .info__work
          h3.info__work-title
            | Выполняем заказы на разработку:
          ul.info__work-items
            li.info__work-item
              | Выполняем заказы на разработку:
            li.info__work-item
              | Мобильных приложений для iOS и Android
            li.info__work-item
              | Слайдшоу и видео для корпоративных презентаций
      .info__features
        .info__logo
          img(src='img/logo-2.png', width='360', height='208', alt='Логотип')
        span.info__features-desc
          | С 2004 года любим точность во всем:
        .info__features-items
          .info__features-item
            span.info__features-item-number
              | 146
              sup
                | %
            span.info__features-item-desc
              | Уровень самоотдачи
          .info__features-item
            span.info__features-item-number
              | 146
              sup
                | %
            span.info__features-item-desc
              | Соблюдение сроков
          .info__features-item
            span.info__features-item-number
              | 50
              sup
                | %
            span.info__features-item-desc
              | Минимальная предоплата
  .examples
    .examples__wrapper
      .examples__items
        .examples__item
          img(src='img/logo-htmlacademy.png', width='199', height='68', alt='Логотип сайта htmlacademy')
        .examples__item
          img(src='img/logo-borodinski.png', width='209', height='87', alt='Логотип сайта borodinski')
        .examples__item
          img(src='img/logo-pink.png', width='185', height='52', alt='Логотип сайта pink')
        .examples__item
          img(src='img/logo-mishka.png', width='173', height='84', alt='Логотип сайта mishka')
  section.contacts
    .contacts__map
      .contacts__map-wrapper
        img(src='img/map.jpg', width='1440', height='416', alt='Карта')
    .contacts__wrapper
      .contacts__inner
        h1.contacts__title
          | Nёrds design studio
        span.contacts__addr
          | 191186, Санкт-Петербург,
          br
          | ул. Б. Конюшенная, д. 19/8
        a.contacts__phone(href='tel:+78122757575')
          | тел. +7 (812) 275-75-75
        button.contacts__btn.btn(type='button')
          | Напишите нам
    .contacts__feedback.feedback
      .feedback__header
        h2.feedback__title
          | Напишите нам
        button.feedback__close(type='button')
          | Закрыть
      form.feedback__form
        .feedback__items
          .feedback__item
            label.feedback__label(for='name')
              | Ваше имя:
            input.feedback__field(id='name', placeholder='Представьтесь, пожалуйста')
          .feedback__item
            label.feedback__label(for='email')
              | Ваш e-mail:
            input.feedback__field(id='email', type='email', placeholder='Для отправки ответа')
          .feedback__item
            label.feedback__label(for='text')
              | Текст письма:
            textarea.feedback__field(id='text', placeholder='В свободной форме')
        button.feedback__send.btn(type='submit')
          | Отправить
