.catalog__header {
  @include container;
}
.catalog__wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
}
.catalog__filters {
  width: 260px;
}
.catalog__content {
  width: 760px;
}
.catalog__sort {
  display: flex;
  justify-content: space-between;
}
.catalog__items {
  display: flex;
  flex-wrap: wrap;
}
.catalog__item {
  margin-right: 40px;
  &:nth-child(even) {
    margin-right: 0;
  }
}
.catalog__item-content {
  padding: 40px 60px;
  width: 360px;
  box-sizing: border-box;
}
