.info {
  margin-top: 40px;
  margin-bottom: 50px;
}
.info__wrapper {
  @include container;
}
.info__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;

  border-bottom: 2px solid $gray--lighten;
}
.info__about-us {
  width: 660px;
}
.info__title {
  margin-top: 30px;

  font-weight: 500;
  font-size: $font-size--x-large;
  line-height: $line-height--large;
}
.info__desc {
  line-height: $line-height;
  color: $color-main;
}
.info__work {
  margin-top: 35px;
}
.info__work-title {
  margin-bottom: 25px;

  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}
.info__work-items {
  padding: 0;

  list-style: none;
  line-height: $line-height;
  color: $color-main;
}
.info__work-item {
  position: relative;

  margin: 25px 0;
  padding-left: 35px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;

    width: 25px;
    height: 2px;
    margin-top: -1px;

    background-color: $red;
  }
}
.info__features {
  width: 360px;
}
.info__logo {
  margin-bottom: 35px;
  img {
    display: block;
    width: 360px;
    height: 208px;
  }
}
.info__features-desc {
  display: block;

  font-weight: bold;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
.info__features-items {
  display: flex;
  margin-top: 40px;
}
.info__features-item {
  margin-right: 20px;
}
.info__features-item-number {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  sup {
    font-size: 30px;
  }
}
.info__features-item-desc {
  display: block;

  color: $color-main;
}
