.inputbox__input {
  position: absolute;

  opacity: 0;

  &:focus ~ .inputbox__label {
    color: black;

    &::before,
    &::after {
      opacity: 1;
    }
  }

  &:disabled {
    & ~ .inputbox__label {
      color: black;

      cursor: default;
      opacity: 0.3;

      &::before {
        border-color: $gray--darken;
        opacity: 0.3;
      }

      &::after {
        opacity: 0.3;
      }
    }
  }

  &:checked ~ .inputbox__label {
    &::after {
      display: block;
    }
  }
}

.inputbox__label {
  position: relative;

  display: flex;
  align-items: center;
  margin: 15px 0;

  color: $color-main;

  cursor: pointer;

  user-select: none;

  &::before,
  &::after {
    opacity: 0.4;

    transition: 0.3s ease;
  }

  &::before {
    content: '';

    flex-shrink: 0;
    box-sizing: border-box;
    margin-right: 10px;
  }

  &::after {
    content: '';
    position: absolute;

    display: none;
  }

  &:hover {
    color: black;

    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.inputbox--radio .inputbox__label {
  &::before {
    display: block;
    width: 24px;
    height: 24px;

    border-width: 3px;
    border-style: solid;
    border-color: $gray--darken;
    border-radius: 50%;
  }

  &::after {
    top: 8px;
    left: 8px;

    width: 8px;
    height: 8px;

    background-color: $gray--darken;
    border-radius: 50%;
  }

  &:hover {
    &::after {
      background-color: $gray--darken;
    }
  }
}

.inputbox--check {
  .inputbox__label {
    margin: 18px 0;

    &::before {
      width: 23px;
      height: 23px;

      background-image: url('../img/icon-chekbox-off.png');
    }

    &::after {
      top: 0;
      left: 0;

      width: 27px;
      height: 23px;

      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -10px -45px;
    }
  }

  .inputbox__input {
    &:checked ~ .inputbox__label {
      &::before {
        background-image: none;
      }
    }
  }
}
