.promo {
  margin-bottom: 80px;

  background-color: $gray--lighten;
}
.promo__wrapper {
  @include container;
}
.slider__item {
  box-sizing: border-box;
  min-height: 425px;
  padding-top: 75px;
  padding-right: 600px;
  &:not(:first-child) {
    display: none;
  }
}
.promo__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: $font-size--xx-large;
  line-height: $line-height--x-large;
}
.promo__desc {
  margin-bottom: 40px;

  line-height: $line-height;
  color: $color-main;
}
.slider__controls {
  display: none;
}
